/* רקע gradient על כל הדף */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: linear-gradient(to bottom right, #dbeafe, #e0e7ff, #f5d0fe);
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: Arial, sans-serif;
   display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 50px;
}

#root {
  height: auto;
  width: 100vw;
  padding-top: 20px;
}

/* קונטיינר מרכזי */
.container {
  width: 90%;
  max-width: 800px;
  background: rgba(255,255,255,0.9);
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
  text-align: center;
}

/* הכדורים במיכל */
.ball-container {
  position: relative;
  width: 300px;
  height: 300px;
  margin: 30px auto;
  border-radius: 50%;
  border: 4px solid white;
  box-shadow: 0 0 30px rgba(99,102,241,0.6);
  overflow: hidden;
  background: #ffffff;
}

/* כדורים תחתונים */
.bottom-balls {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.bottom-balls .ball {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
}
button {
  background: linear-gradient(45deg, #f472b6, #6366f1); /* גוונים ורוד-סגול */
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  padding: 12px 24px;
  margin: 12px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  box-shadow: 0 6px 12px rgba(0,0,0,0.2);
  transition: all 0.3s ease;
}

button:hover {
  transform: scale(1.05);       /* הקטנה או הגדלה קלה */
  box-shadow: 0 8px 16px rgba(0,0,0,0.3);
  background: linear-gradient(45deg, #fbb6ce, #818cf8); /* שינוי קל בגוונים */
}

button:active {
  transform: scale(0.98);       /* אפקט לחיצה */
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}
.input{
  background: linear-gradient(45deg, #f472b6, #6366f1); /* גוונים ורוד-סגול */
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  padding: 12px 24px;
  margin: 12px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  box-shadow: 0 6px 12px rgba(0,0,0,0.2);
  transition: all 0.3s ease;
}